/* 
    Этот файл служит для стилизации шрифтов 
*/
@charset "UTF-8";
/* Блок для подключения шрифтов (Regular -> Bold -> Italic) */

/* 
    Семейство Karantina
*/
@font-face {
    font-family: "Karantina";
    src: url("../fonts/Karantina-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Karantina-Bold";
    src: url("../fonts/Karantina-Bold.ttf");

}

/*
    Семейство Roboto
*/
@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto-Italic";
    src: url("../fonts/Roboto-Italic.ttf");
    font-weight: 450;
}

/*
    Семейство Sansation
*/
@font-face {
    font-family: "Sansation-Regular";
    src: url("../fonts/Sansation-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Sansation-Bold";
    src: url("../fonts/Sansation-Bold.ttf");
    font-weight: 700;
}

/* 
    Стили для шрифтов
*/
.regular-text {
    padding: 1% 0% 1% 0%;
    font-family: "Roboto-Regular";
}

.regular-title-text {
    font-family: "Karantina", cursive;
}

.regular-subtitle-text {
    font-family: "Roboto-Bold";
    font-weight: 600;
}

.regular-subtitle-text-italic {
    font-family: "Roboto-Italic";
    font-weight: 750;
}

.regular-text--italic {
    font-family: "Roboto-Italic";
}

/* 
    Эффекты 
*/
.text_underline {
    background: linear-gradient(90deg, #ffffff 0.01%, whitesmoke 100%);
    transition: 1s;
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
}

.text_underline:hover {
    background-size: 100% 2px;
}

.regular-subtitle-text_highlight:hover {
    color: greenyellow;
}