/* Этот файл служит для стилизации страниц */

/* Подключаем файл с шрифтами */
@import url("fonts.css");

/* Подключаем файл для сброса стилей */
@import url("reset.css");

/* Общие стили */
header, footer {
    display: flex;
}

main {
    background-color: whitesmoke;
    min-height: 100vh;
}

/* Добавим отступы нумерованным спискам */
#devs ol, #scientific-research_on-products ol,
#dev_achievements-page ol, #services-page ol {
    padding-left: 4%;
}

/* Добавим окантовку к блокам с информацией */
.info-list {
    padding: 1%;
    margin-bottom: 2%;
    border-right: 2px solid;
    border-left: 2px solid;
    border-color: rgba(182, 182, 182, 0.822);
    box-shadow: 10px 5px 5px rgba(168, 168, 168, 0.5);
}

/*
    Стили для создания слайдера
*/
#slider_bl_css {
    padding-bottom: 5%;
    margin-bottom: 2%;
}

#slider_bl_css .slides {
    padding:0;
    width:600px;
    height:600px;
    display:block;
    margin:0 auto;
    position:relative
}
#slider_bl_css .slides * {
    user-select:none;
    -ms-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout:none
}

#slider_bl_css .slides input {
    display:none
}

#slider_bl_css .slide-container {
    display:block
}

#slider_bl_css .slide {
    top:0;
    opacity:0;
    width:609px;
    height:420px;
    display:block;
    position:absolute;
    transform:scale(0);
    transition:all .7s linear
}

#slider_bl_css .slides {
    background-image: url(../images/backgrounds/dont_see__slides.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#slider_bl_css .slide img {
    width:100%;
    height:100% 
}

#slider_bl_css .nav label {
    width:200px;
    height:75%;
    display:none;
    position:absolute;
    opacity:0;
    z-index:9;
    cursor:pointer;
    transition:opacity .2s;
    color:#FFF;
    font-size:156pt;
    text-align:center;
    line-height:380px;
    background-color:rgba(255,255,255,.3);
    text-shadow:0 0 15px #777
} 

#slider_bl_css .slide:hover+.nav label {
    opacity:.5
}

#slider_bl_css .nav label:hover {
    opacity:1
}

#slider_bl_css .nav .next {
    right:0
}

#slider_bl_css input:checked+.slide-container .slide {
    opacity:1;
    transform:scale(1);
    transition:opacity 1s ease-in-out
}

#slider_bl_css input:checked+.slide-container .nav label {
    display:block
}

#slider_bl_css .nav-dots {
    width:100%;
    bottom:9px;
    height:11px;
    display:block;
    position:absolute;
    text-align:center
}

#slider_bl_css .nav-dots .nav-dot {
    top:-5px;
    width:11px;
    height:11px;
    margin:0 4px;
    position:relative;
    border-radius:100%;
    display:inline-block;
    background-color:rgba(0,0,0,0.6)
}

#slider_bl_css .nav-dots .nav-dot:hover {
    cursor:pointer;
    background-color:rgba(0,0,0,0.8)
}

#slider_bl_css input#img-1:checked~.nav-dots label#img-dot-1,
#slider_bl_css input#img-2:checked~.nav-dots label#img-dot-2,
#slider_bl_css input#img-3:checked~.nav-dots label#img-dot-3,
#slider_bl_css input#img-4:checked~.nav-dots label#img-dot-4,
#slider_bl_css input#img-5:checked~.nav-dots label#img-dot-5,
#slider_bl_css input#img-6:checked~.nav-dots label#img-dot-6,
#slider_bl_css input#img-7:checked~.nav-dots label#img-dot-7,
#slider_bl_css input#img-8:checked~.nav-dots label#img-dot-8,
#slider_bl_css input#img-9:checked~.nav-dots label#img-dot-9,
#slider_bl_css input#img-10:checked~.nav-dots label#img-dot-10,
#slider_bl_css input#img-11:checked~.nav-dots label#img-dot-11,
#slider_bl_css input#img-12:checked~.nav-dots label#img-dot-12,
#slider_bl_css input#img-13:checked~.nav-dots label#img-dot-13,
#slider_bl_css input#img-14:checked~.nav-dots label#img-dot-14,
#slider_bl_css input#img-15:checked~.nav-dots label#img-dot-15,
#slider_bl_css input#img-16:checked~.nav-dots label#img-dot-16,
#slider_bl_css input#img-17:checked~.nav-dots label#img-dot-17,
#slider_bl_css input#img-18:checked~.nav-dots label#img-dot-18,
#slider_bl_css input#img-19:checked~.nav-dots label#img-dot-19,
#slider_bl_css input#img-20:checked~.nav-dots label#img-dot-20,
#slider_bl_css input#img-21:checked~.nav-dots label#img-dot-21,
#slider_bl_css input#img-22:checked~.nav-dots label#img-dot-22,
#slider_bl_css input#img-23:checked~.nav-dots label#img-dot-23,
#slider_bl_css input#img-24:checked~.nav-dots label#img-dot-24,
#slider_bl_css input#img-25:checked~.nav-dots label#img-dot-25,
#slider_bl_css input#img-26:checked~.nav-dots label#img-dot-26,
#slider_bl_css input#img-27:checked~.nav-dots label#img-dot-27,
#slider_bl_css input#img-28:checked~.nav-dots label#img-dot-28,
#slider_bl_css input#img-29:checked~.nav-dots label#img-dot-29,
#slider_bl_css input#img-30:checked~.nav-dots label#img-dot-30,
#slider_bl_css input#img-31:checked~.nav-dots label#img-dot-31,
#slider_bl_css input#img-32:checked~.nav-dots label#img-dot-32,
#slider_bl_css input#img-33:checked~.nav-dots label#img-dot-33,
#slider_bl_css input#img-34:checked~.nav-dots label#img-dot-34,
#slider_bl_css input#img-35:checked~.nav-dots label#img-dot-35,
#slider_bl_css input#img-36:checked~.nav-dots label#img-dot-36,
#slider_bl_css input#img-37:checked~.nav-dots label#img-dot-37,
#slider_bl_css input#img-38:checked~.nav-dots label#img-dot-38,
#slider_bl_css input#img-39:checked~.nav-dots label#img-dot-39,
#slider_bl_css input#img-40:checked~.nav-dots label#img-dot-40,
#slider_bl_css input#img-41:checked~.nav-dots label#img-dot-41,
#slider_bl_css input#img-42:checked~.nav-dots label#img-dot-42,
#slider_bl_css input#img-43:checked~.nav-dots label#img-dot-43,
#slider_bl_css input#img-44:checked~.nav-dots label#img-dot-44,
#slider_bl_css input#img-45:checked~.nav-dots label#img-dot-45,
#slider_bl_css input#img-46:checked~.nav-dots label#img-dot-46,
#slider_bl_css input#img-47:checked~.nav-dots label#img-dot-47,
#slider_bl_css input#img-48:checked~.nav-dots label#img-dot-48,
#slider_bl_css input#img-49:checked~.nav-dots label#img-dot-49,
#slider_bl_css input#img-50:checked~.nav-dots label#img-dot-50,
#slider_bl_css input#img-51:checked~.nav-dots label#img-dot-51,
#slider_bl_css input#img-52:checked~.nav-dots label#img-dot-52,
#slider_bl_css input#img-53:checked~.nav-dots label#img-dot-53,
#slider_bl_css input#img-54:checked~.nav-dots label#img-dot-54,
#slider_bl_css input#img-55:checked~.nav-dots label#img-dot-55,
#slider_bl_css input#img-56:checked~.nav-dots label#img-dot-56,
#slider_bl_css input#img-57:checked~.nav-dots label#img-dot-57,
#slider_bl_css input#img-51:checked~.nav-dots label#img-dot-51,
#slider_bl_css input#img-52:checked~.nav-dots label#img-dot-52,
#slider_bl_css input#img-53:checked~.nav-dots label#img-dot-53,
#slider_bl_css input#img-54:checked~.nav-dots label#img-dot-54,
#slider_bl_css input#img-55:checked~.nav-dots label#img-dot-55,
#slider_bl_css input#img-56:checked~.nav-dots label#img-dot-56,
#slider_bl_css input#img-57:checked~.nav-dots label#img-dot-57,
#slider_bl_css input#img-58:checked~.nav-dots label#img-dot-58,
#slider_bl_css input#img-59:checked~.nav-dots label#img-dot-59,
#slider_bl_css input#img-60:checked~.nav-dots label#img-dot-60,
#slider_bl_css input#img-61:checked~.nav-dots label#img-dot-61,
#slider_bl_css input#img-62:checked~.nav-dots label#img-dot-62,
#slider_bl_css input#img-63:checked~.nav-dots label#img-dot-63,
#slider_bl_css input#img-64:checked~.nav-dots label#img-dot-64,
#slider_bl_css input#img-65:checked~.nav-dots label#img-dot-65,
#slider_bl_css input#img-66:checked~.nav-dots label#img-dot-66,
#slider_bl_css input#img-67:checked~.nav-dots label#img-dot-67,
#slider_bl_css input#img-68:checked~.nav-dots label#img-dot-68,
#slider_bl_css input#img-69:checked~.nav-dots label#img-dot-69,
#slider_bl_css input#img-70:checked~.nav-dots label#img-dot-70,
#slider_bl_css input#img-71:checked~.nav-dots label#img-dot-71,
#slider_bl_css input#img-72:checked~.nav-dots label#img-dot-72,
#slider_bl_css input#img-73:checked~.nav-dots label#img-dot-73,
#slider_bl_css input#img-74:checked~.nav-dots label#img-dot-74,
#slider_bl_css input#img-75:checked~.nav-dots label#img-dot-75,
#slider_bl_css input#img-76:checked~.nav-dots label#img-dot-76,
#slider_bl_css input#img-77:checked~.nav-dots label#img-dot-77,
#slider_bl_css input#img-78:checked~.nav-dots label#img-dot-78,
#slider_bl_css input#img-79:checked~.nav-dots label#img-dot-79,
#slider_bl_css input#img-80:checked~.nav-dots label#img-dot-80,
#slider_bl_css input#img-81:checked~.nav-dots label#img-dot-81,
#slider_bl_css input#img-82:checked~.nav-dots label#img-dot-82,
#slider_bl_css input#img-83:checked~.nav-dots label#img-dot-83,
#slider_bl_css input#img-84:checked~.nav-dots label#img-dot-84,
#slider_bl_css input#img-85:checked~.nav-dots label#img-dot-85,
#slider_bl_css input#img-86:checked~.nav-dots label#img-dot-86,
#slider_bl_css input#img-87:checked~.nav-dots label#img-dot-87,
#slider_bl_css input#img-88:checked~.nav-dots label#img-dot-88,
#slider_bl_css input#img-89:checked~.nav-dots label#img-dot-89,
#slider_bl_css input#img-90:checked~.nav-dots label#img-dot-90,
#slider_bl_css input#img-91:checked~.nav-dots label#img-dot-91,
#slider_bl_css input#img-92:checked~.nav-dots label#img-dot-92,
#slider_bl_css input#img-93:checked~.nav-dots label#img-dot-93,
#slider_bl_css input#img-94:checked~.nav-dots label#img-dot-94,
#slider_bl_css input#img-95:checked~.nav-dots label#img-dot-95,
#slider_bl_css input#img-96:checked~.nav-dots label#img-dot-96,
#slider_bl_css input#img-97:checked~.nav-dots label#img-dot-97,
#slider_bl_css input#img-98:checked~.nav-dots label#img-dot-98,
#slider_bl_css input#img-99:checked~.nav-dots label#img-dot-99,
#slider_bl_css input#img-100:checked~.nav-dots label#img-dot-100,
#slider_bl_css input#img-101:checked~.nav-dots label#img-dot-101,
#slider_bl_css input#img-102:checked~.nav-dots label#img-dot-102,
#slider_bl_css input#img-103:checked~.nav-dots label#img-dot-103,
#slider_bl_css input#img-104:checked~.nav-dots label#img-dot-104,
#slider_bl_css input#img-105:checked~.nav-dots label#img-dot-105,
#slider_bl_css input#img-106:checked~.nav-dots label#img-dot-106,
#slider_bl_css input#img-107:checked~.nav-dots label#img-dot-107
 {
    background:greenyellow;
}

#slider_bl_css .slide {
    height: 100%;
    width: 100%;
}

#slider_bl_css h3 {
    text-align: center;
    margin-bottom: 1%;
}

/* Стили для создания аккордеона */
.ac-container{
    max-width: max-content;
    margin: 10px auto 30px auto;
}

.ac-container label{
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: 15%;
    cursor: pointer;
    color: black;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 19px;
    background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    background: #c6e1ec;
    color: #3d7489;
    text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
    box-shadow: 
        0px 0px 0px 1px rgba(155,155,155,0.3), 
        0px 2px 2px rgba(0,0,0,0.1);
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(../images/icons/down_arrow.svg) no-repeat center center;  
}

.ac-container input:checked + label:hover:after {
    background-image: url(../images/icons/up_arrow.svg);
}

.ac-container input{
    display: none;
}

.ac-container article{
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container input:checked ~ article{
     -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
    height: 100px;
    max-height: 35vh;
    overflow-y: scroll;
}

.ac-container article p{
    font-style: italic;
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}


.ac-container label:hover{
    background: #fff;
}

/* Стилизуем хедер */
header {
    flex-direction: column;
}

/* Зададим отступы в хедере */
#info-in-header, footer, #company-name_and-navigation {
    padding: 1%;
}

/* Выравниваем информацию в шапке */
#info-in-header, #telephone_and_email, #telephone-in-header, 
#email-in-header, #business_address, #company-name_and-navigation,
#business_address {
    display: flex;
}

/*
    Стилизуем краткую информацию в шапке
*/
#info-in-header {
    background-color: white;
}

/* Центрируем текст с иконками */
#telephone-in-header, #email-in-header {
    align-items: center;
}

#telephone_and_email {
    flex-grow: 1;
    flex-shrink: 2;
    justify-content: space-evenly;
}

#telephone_and_email img {
    margin-right: 2%;
}

#business_address, #short-info-in-footer {
    width: 45%; /* Может быть костыльно */
    flex-direction: column;
    flex-shrink: 4;
}

/*
    Стилизуем меню навигации
*/
#company-name_and-navigation {
    background: radial-gradient(circle, rgba(0,51,102,1) 25%, rgba(51,153,204,0.8505602924763656) 100%);
    justify-content: space-between;
}

header #company-name {
    letter-spacing: 0.085em;
    margin-right: 2%;
}

#main-navigation_in-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-grow: 0.8;
}

#main-navigation_in-header li {
    margin-right: 2%;
}

/*
    Для создания выпадающего меню при наведении 
*/
.dropdown {
    position: relative;
}

.dropdown a, #company-name {
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    white-space: pre;
    padding: 3% 16px;
    text-decoration: none;
    display: block;
}

/* Изменить задний фон у ссылок при наведении */
.dropdown-content a:hover {background-color: #ddd;}

/* Показать выпадающее меню по наведении */
.dropdown:hover .dropdown-content {display: block;}

/*
    Стилизуем основную часть страницы
*/
main {
    padding: 1%;
}

/* Стили для страницы "Главная" */
#main-page .info-list li {
    padding-left: 4%;
}

#main-page .info-list h3, 
#main-page .info-list h4,
#main-page h5, 
#main-page .info-list li,
#main-page .info-list ul {
    margin-bottom: 1%;
}

#main-page .info-list li:last-child,
#main-page .info-list ul:last-child {
    margin: 0;
}

#main-page .info-list h4 {
    padding-left: 4%;
}

#main-page h2 {
    text-align: center;
}

#main-page .info-lists {
    flex-direction: column;
}

#main-page h5 {
    padding: 1%;
}

#activity-data {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#activity-data h2 {
    margin-bottom: 1%;
}

#main-page #activity-data img {
    max-width: 50vw;
}

#accord_in_main-page h2 {
    margin-bottom: 2%;
}

/* Стили для страницы "Контакты" */
#short-contacts_and-map {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#business_address-map {
    max-width: -moz-available;
}

#short-contacts_and-map ul {
    margin-bottom: 1%;
}

/* Стили для страницы "Продукция" */
#products-page .info-lists {
    flex-direction: column;
}

#products-page h2 {
    margin-bottom: 2%;
}

#multi-purpose_equipment h3, #application-area h3 {
    text-align: center;
}

#multi-purpose_equipment, #experimental_model {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#multi-purpose_equipment img, #experimental_model img {
    max-width: 50vw;
    margin-bottom: 1%;
}

#products-page #product_characteristics-upgrade {
    list-style: disclosure-closed;
}

#experimental_model h3 {
    margin-bottom: 1%;
}

#multi-purpose_equipment li {
    margin-bottom: 1%;
    padding-left: 4%;
}

/* Стили для страницы "Разработка и производство" */
#dev_and_prod-page .info-lists {
    flex-direction: column;
}

#devs li {
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#devs img, #devs p {
    max-width: 50%;
    max-height: 50%;
}

#scientific-research_on-products ol li {
    margin-bottom: 1%;
    list-style-type: l;
}

#scientific-research_on-products ol li:last-child {
    margin: 0;
}

#researches-list h4 {
    margin-bottom: 1%;
}

#scientific-research_on-products .regular-subtitle-text_highlight:hover {
    text-decoration: underline;
}

/* Стили для страницы "Достижения по разработкам" */
#dev_achievements-page .info-lists {
    flex-direction: column;
}



#dev_achievements-page h2 {
    margin-bottom: 1%;
}

#dev_achievements-page ol li {
    margin-bottom: 1%;
    list-style-type: l;
}

/* Стили для страницы "Услуги" */
#services-page .info-lists {
    flex-direction: column;
}

#services-page h2 {
    margin-bottom: 1%;
}

#services-page ol li {
    margin-bottom: 1%;
    list-style-type: l;
}

/* Стили для страницы "Реализация проектов" */
#proj_realization-page .info-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#proj_realization-page .info-list img {
    max-width: 50vw;
    max-height: 50%;
}

#proj_realization-page #models-list {
    flex-direction: row;
    justify-content: space-evenly;
}

#proj_realization-page #models-list img {
    max-width: 25vw;
}

/* 
    Стилизуем футер 
*/
footer {
    background: radial-gradient(circle, rgba(51,0,102,1) 35%, rgba(55, 34, 66) 100%);
}

#short-info-in-footer .regular-text {
    color: whitesmoke;
}

#short-info-in-footer {
    margin-right: 1%;
    width: 25%;
}

.info-lists, info-list {
    flex-grow: 1;
    display: flex;
}

footer h3 {
    text-align: center;
}

footer h2, footer h3 {
    border-bottom: 2px solid;
    border-color: rgba(241, 241, 241, 0.6);
}

footer a {
    width: fit-content;
}

footer h3, footer .info-list a {
    color: white;
}

footer .info-list h3, footer h2, footer .info-list a {
    margin-bottom: 1%;
}

footer .info-list {
    padding: 0;
    border: none;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2%;
}
