/* Этот файл служит для сброса ненужных стилевых особенностей */
html, header, body, main, footer, h1, h2, h3, h4, h5, h6, p, ul, ol {
    padding: 0;
    margin: 0;
}

a, a:visited, a:hover {
    color: black;
    text-decoration: none;
}

ol, ul, nav {
    list-style: none;
}

